<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>编译原理实验提交</title>
  </head>
  
  <body>
    <h3>
	<font size="5">编译原理实验提交</font>
    </h3>

    <p><font size="4">
        <b>实验简介：</b>编译原理的实验内容是为一个小型的类C语言(C--)实现一个编译器。如果你顺利完成了本实验任务，那么不仅你的编程能力将会得到大幅提高，而且你最终会得到一个比较完整的、能将C--源代码转换成MIPS汇编代码的编译器，所得到的汇编代码可以在SPIM Simulator上运行。实习总共分为四个阶段：词法和语法分析、语义分析、中间代码生成以及目标代码生成。每个阶段的输出是下一个阶段的输入，后一个阶段总是在前一个阶段的基础上完成。    
    </font></p>

    <p><font size="4">
	<b>规则说明：</b> 本网站用于提交编译原理实验，并对提交的代码作一些检测。本着让同学们独立自主的完成实验，杜绝投机取巧的目的，提交后的代码会和历届众多实验版本相比较，若比较结果不尽如人意，实验的分数就会打折扣哦。当然，为了防止同学一直尝试，使得结果趋向于良好，我们对提交的次数会加以限制。
	
	
    </font></p>
    <hr></hr>
    <p><font size="4"><b><a href="/login">登录</a></b></font></p>
  </body>
</html>
